.uncoloredCell {
	border: 1px solid black;
	border-collapse: collapse;
	color: white;
	background: white;
}

.coloredCell1 {
	border: 1px solid black;
	border-collapse: collapse;
	color: #00CCFF;
	background: #00CCFF;
}

.coloredCell2 {
	border: 1px solid black;
	border-collapse: collapse;
	color: #0000FF;
	background: #0000FF;
}

.jointProbHeader {
	border: 1px solid black;
	border-collapse: collapse;
}

#JointProbGrid {
	border: 0px solid black;
	border-collapse: collapse;
	width: 100%;
	height: 100%;
}

.statDisplay {
	border: 2px solid grey;
	padding: 2px;
	margin: 2px;
	width: 6em;
}

.incorrectStatDisplay {
	border: 2px solid red;
	padding: 2px;
	margin: 2px;
	width: 6em;
}

.correctStatDisplay {
	border: 2px solid green;
	padding: 2px;
	margin: 2px;
	width: 6em;
}

.answerInput {
	border: 2px solid orange;
	padding: 2px;
	margin: 2px;
	width: 6em;
}

#TableParamsDiv {
	display: table;
	width: 100%;
	border-collapse: collapse;
	border: none;
}

#TableParams {
	display: table-row;
}

.TableParam {
	display: table-cell;
	width: 45%;
	margin: 0;
}

.vLine {
	border-left: thin solid black;
}

.hFill {
	width: auto;
}

#VennDiagram {
	width: 100%;
}

#GraphicsDiv {
	display: table;
	width: 100%;
}

#JointProbDiv, #RightGraphicsDiv {
	display: table-cell;
	float: left;
	width: 40%;
	padding-left: 5%;
	padding-right: 5%;
}

#VennDiagramDiv {
	width: 100%;
}

#XHistDiv, #YHistDiv {
	width: 40%;
	padding-left: 5%;
	padding-right: 5%;
}

#XHistDiv {
	float: left;
}

#YHistDiv {
	float: right;
}

#EntropyDiv {
	clear: both;
}

rect.redBar {
	fill: rgb(238,153,153);
	stroke-width: 0;
}

rect.greenBar {
	fill: rgb(153,238,153);
	stroke-width: 0;
}
